* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex-container-youtube {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 124, 75);
    
    flex-wrap: wrap;
}

.item-youtube {
    height: 250px;
    width: 50%;
}